In [2]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("D:\Study\Project\Major project\Engagement_caption_analysis_newest.xlsx")

In [4]:
df.head()

,Quadrant,Category,read_ease_score,lexical_diversity_score,sentiment_score,overall_caption_score,Average Words,Average Characters,Average Sentence Count,Average Word Length,Average Sentence Length,Top 50 Captions Pos Tags,Unnamed: 12,max_pos,max_ner,Top 50 Captions Named Entity Tags,Average Subjectivity Score
0,HF-HE,Automobile,0.424405,0.925322,0.629401,0.636179,42.962025,260.556962,3.835443,6.093637,12.119182,"{'NOUN': 925, 'PROPN': 671, 'PUNCT': 467, 'SYM...",NaN,NOUN,PERSON,"{'PERSON': 30, 'ORG': 30, 'DATE': 28, 'GPE': 1...",0.470428
1,HF-LE,Automobile,0.396859,0.904362,0.617686,0.615358,47.381503,301.008092,4.271676,6.607730,11.376014,"{'NOUN': 11352, 'PROPN': 8923, 'PUNCT': 5993, ...",NaN,NOUN,PERSON,"{'PERSON': 532, 'ORG': 396, 'GPE': 387, 'DATE'...",0.433823
2,LF-HE,Automobile,0.404425,0.903097,0.634299,0.622988,43.780242,270.647177,4.409274,6.636256,9.738362,"{'NOUN': 6126, 'PROPN': 4320, 'PUNCT': 3942, '...",NaN,NOUN,DATE,"{'DATE': 201, 'PERSON': 198, 'ORG': 173, 'GPE'...",0.472685
3,LF-LE,Automobile,0.308361,0.909704,0.644645,0.589649,56.454545,392.242424,4.666667,7.014457,12.313069,"{'NOUN': 542, 'PROPN': 397, 'PUNCT': 272, 'VER...",NaN,NOUN,PERSON,"{'PERSON': 25, 'ORG': 20, 'GPE': 17, 'DATE': 1...",0.453800
4,HF-HE,Beverages,0.507616,0.888605,0.626349,0.657533,43.834171,250.306533,4.321608,6.011408,10.637742,"{'NOUN': 2301, 'PROPN': 1926, 'PUNCT': 1170, '...",NaN,NOUN,ORG,"{'ORG': 92, 'PERSON': 85, 'DATE': 71, 'GPE': 7...",0.479975

In [5]:
df.columns

Index(['Quadrant', 'Category', 'read_ease_score', 'lexical_diversity_score',
       'sentiment_score', 'overall_caption_score', 'Average Words',
       'Average Characters', 'Average Sentence Count', 'Average Word Length',
       'Average Sentence Length', 'Top 50 Captions Pos Tags', 'Unnamed: 12',
       'max_pos', 'max_ner', 'Top 50 Captions Named Entity Tags',
       'Average Subjectivity Score'],
      dtype='object')

In [6]:
df = df[['Top 50 Captions Named Entity Tags']]

In [7]:
df.head()

                   Top 50 Captions Named Entity Tags
0  {'PERSON': 30, 'ORG': 30, 'DATE': 28, 'GPE': 1...
1  {'PERSON': 532, 'ORG': 396, 'GPE': 387, 'DATE'...
2  {'DATE': 201, 'PERSON': 198, 'ORG': 173, 'GPE'...
3  {'PERSON': 25, 'ORG': 20, 'GPE': 17, 'DATE': 1...
4  {'ORG': 92, 'PERSON': 85, 'DATE': 71, 'GPE': 7...

In [8]:
df.columns

Index(['Top 50 Captions Named Entity Tags'], dtype='object')

In [9]:
import ast

In [9]:
def convert_to_dict(ner_str):
    if isinstance(ner_str, str):
        return ast.literal_eval(ner_str)
    return ner_str

df['Top 50 Captions Named Entity Tags'] = df['Top 50 Captions Named Entity Tags'].apply(convert_to_dict)

# Function to sort dictionary by values and get the max N"ER
def sort_and_get_max_ner(ner_dict):
    sorted_ner = dict(sorted(ner_dict.items(), key=lambda item: item[1], reverse=True))
    max_ner = max(ner_dict, key=ner_dict.get)
    return sorted_ner, max_ner

# Apply the function to each row
df['sorted_pos'], df['max_pos'] = zip(*df['Top 50 Captions Named Entity Tags'].apply(sort_and_get_max_ner))

# Display the DataFrame
print(df)

                             Top 50 Captions Pos Tags  \
0   {'VERB': 373, 'ADP': 366, 'DET': 286, 'PROPN':...
1   {'NOUN': 11352, 'PART': 804, 'VERB': 4637, 'AD...
2   {'PROPN': 4320, 'VERB': 2528, 'PRON': 1522, 'A...
3   {'VERB': 246, 'ADP': 202, 'NOUN': 542, 'PUNCT'...
4   {'PRON': 658, 'ADJ': 596, 'NOUN': 2301, 'PUNCT...
5   {'PRON': 2309, 'VERB': 4127, 'ADP': 3408, 'PUN...
6   {'PRON': 1970, 'VERB': 3369, 'ADP': 3124, 'NOU...
7   {'PROPN': 313, 'DET': 79, 'NOUN': 436, 'ADP': ...
8   {'PROPN': 9310, 'PUNCT': 6905, 'NOUN': 7688, '...
9   {'ADJ': 14946, 'ADV': 6153, 'CCONJ': 7740, 'NO...
10  {'ADV': 5335, 'PUNCT': 51800, 'NOUN': 56396, '...
11  {'DET': 2127, 'PROPN': 6832, 'NOUN': 8211, 'AD...
12  {'DET': 301, 'ADJ': 241, 'PUNCT': 394, 'VERB':...
13  {'VERB': 1494, 'ADP': 1143, 'PROPN': 2237, 'AD...
14  {'VERB': 1546, 'ADP': 1457, 'PROPN': 2389, 'SP...
15  {'PUNCT': 533, 'NOUN': 1170, 'AUX': 119, 'DET'...
16  {'ADP': 4791, 'PROPN': 35196, 'CCONJ': 969, 'S...
17  {'DET': 7988, 'NOUN': 43929, 'ADP': 14341, 'PR...
18  {'ADJ': 23159, 'PROPN': 120150, 'NOUN': 81150,...
19  {'PRON': 615, 'PART': 180, 'VERB': 1144, 'DET'...
20  {'VERB': 1120, 'ADV': 378, 'ADP': 667, 'DET': ...
21  {'SYM': 891, 'PROPN': 1547, 'NOUN': 2569, 'SPA...
22  {'ADJ': 1982, 'SCONJ': 108, 'PRON': 1248, 'AUX...
23  {'PROPN': 228, 'NOUN': 307, 'VERB': 112, 'ADJ'...
24  {'NOUN': 4076, 'ADP': 1473, 'PROPN': 2270, 'SP...
25  {'NOUN': 13981, 'ADP': 3998, 'PROPN': 12197, '...
26  {'DET': 3383, 'NOUN': 21173, 'ADP': 5970, 'PUN...
27  {'PROPN': 363, 'VERB': 115, 'ADP': 101, 'DET':...
28  {'PROPN': 4430, 'PUNCT': 2317, 'ADJ': 1535, 'N...
29  {'X': 366, 'VERB': 3052, 'ADP': 1915, 'SPACE':...
30  {'X': 487, 'ADJ': 1609, 'ADP': 2047, 'DET': 13...
31  {'SYM': 378, 'PROPN': 773, 'NOUN': 1455, 'SPAC...
32  {'X': 129, 'PROPN': 1762, 'SPACE': 828, 'NUM':...
33  {'DET': 3058, 'NOUN': 13272, 'VERB': 6027, 'PA...
34  {'PROPN': 6206, 'AUX': 1347, 'VERB': 4337, 'AD...
35  {'NOUN': 84, 'VERB': 37, 'PROPN': 50, 'SPACE':...
36  {'PROPN': 3471, 'PUNCT': 2690, 'DET': 1207, 'N...
37  {'NOUN': 3430, 'PUNCT': 1612, 'CCONJ': 347, 'P...
38  {'ADP': 17707, 'PROPN': 39545, 'CCONJ': 8076, ...
39  {'PRON': 103, 'VERB': 260, 'DET': 115, 'ADJ': ...

                                           sorted_pos max_pos
0   {'NOUN': 925, 'PROPN': 671, 'PUNCT': 467, 'SYM...    NOUN
1   {'NOUN': 11352, 'PROPN': 8923, 'PUNCT': 5993, ...    NOUN
2   {'NOUN': 6126, 'PROPN': 4320, 'PUNCT': 3942, '...    NOUN
3   {'NOUN': 542, 'PROPN': 397, 'PUNCT': 272, 'VER...    NOUN
4   {'NOUN': 2301, 'PROPN': 1926, 'PUNCT': 1170, '...    NOUN
5   {'NOUN': 9294, 'PROPN': 6315, 'PUNCT': 4565, '...    NOUN
6   {'NOUN': 7174, 'PROPN': 6721, 'PUNCT': 4690, '...    NOUN
7   {'NOUN': 436, 'PROPN': 313, 'SYM': 236, 'VERB'...    NOUN
8   {'PROPN': 9310, 'NOUN': 7688, 'PUNCT': 6905, '...   PROPN
9   {'NOUN': 58212, 'PROPN': 52803, 'PUNCT': 38535...    NOUN
10  {'PROPN': 72674, 'NOUN': 56396, 'PUNCT': 51800...   PROPN
11  {'NOUN': 8211, 'PROPN': 6832, 'PUNCT': 5695, '...    NOUN
12  {'NOUN': 972, 'PROPN': 538, 'VERB': 475, 'ADP'...    NOUN
13  {'NOUN': 2789, 'PROPN': 2237, 'VERB': 1494, 'P...    NOUN
14  {'NOUN': 3285, 'PROPN': 2389, 'PUNCT': 1883, '...    NOUN
15  {'NOUN': 1170, 'PROPN': 973, 'VERB': 583, 'PUN...    NOUN
16  {'PROPN': 35196, 'NOUN': 21246, 'PUNCT': 10197...   PROPN
17  {'PROPN': 44665, 'NOUN': 43929, 'PUNCT': 18652...   PROPN
18  {'PROPN': 120150, 'NOUN': 81150, 'PUNCT': 3485...   PROPN
19  {'NOUN': 3060, 'PROPN': 2800, 'PUNCT': 1685, '...    NOUN
20  {'NOUN': 2008, 'PROPN': 1143, 'VERB': 1120, 'P...    NOUN
21  {'NOUN': 2569, 'PROPN': 1547, 'SPACE': 1129, '...    NOUN
22  {'PROPN': 13659, 'NOUN': 9308, 'PUNCT': 6179, ...   PROPN
23  {'NOUN': 307, 'PROPN': 228, 'PUNCT': 168, 'SYM...    NOUN
24  {'NOUN': 4076, 'PUNCT': 2380, 'SPACE': 2325, '...    NOUN
25  {'NOUN': 13981, 'PROPN': 12197, 'PUNCT': 7322,...    NOUN
26  {'PROPN': 21843, 'NOUN': 21173, 'SPACE': 14576...   PROPN
27  {'NOUN': 410, 'PROPN': 363, 'PUNCT': 175, 'SPA...    NOUN
28  {'PROPN': 4430, 'NOUN': 4014, 'VERB': 2499, 'P...   PROPN
29  {'NOUN': 6305, 'PROPN': 3767, 'VERB': 3052, 'P...    NOUN
30  {'PROPN': 8212, 'NOUN': 5796, 'PUNCT': 4987, '...   PROPN
31  {'NOUN': 1455, 'PROPN': 773, 'VERB': 727, 'PUN...    NOUN
32  {'NOUN': 3675, 'PUNCT': 2330, 'VERB': 2293, 'P...    NOUN
33  {'NOUN': 13272, 'PROPN': 8624, 'VERB': 6027, '...    NOUN
34  {'NOUN': 8700, 'PROPN': 6206, 'PUNCT': 4686, '...    NOUN
35  {'NOUN': 84, 'PROPN': 50, 'VERB': 37, 'ADP': 3...    NOUN
36  {'NOUN': 4076, 'PROPN': 3471, 'PUNCT': 2690, '...    NOUN
37  {'NOUN': 3430, 'PROPN': 1795, 'PUNCT': 1612, '...    NOUN
38  {'NOUN': 56935, 'PROPN': 39545, 'PUNCT': 35877...    NOUN
39  {'NOUN': 762, 'PROPN': 554, 'PUNCT': 374, 'SYM...    NOUN

In [10]:
def convert_to_dict(ner_str):
    if isinstance(ner_str, str):
        return ast.literal_eval(ner_str)
    return ner_str

df['Top 50 Captions Named Entity Tags'] = df['Top 50 Captions Named Entity Tags'].apply(convert_to_dict)

# Function to sort dictionary by values, get the max NER with its value, and sum all values
def process_ner_dict(ner_dict):
    sorted_ner = dict(sorted(ner_dict.items(), key=lambda item: item[1], reverse=True))
    max_ner = max(ner_dict, key=ner_dict.get)
    max_ner_value = ner_dict[max_ner]
    total_value_sum = sum(ner_dict.values())
    return sorted_ner, max_ner, max_ner_value, total_value_sum

# Apply the function to each row
df['sorted_ner'], df['max_ner'], df['max_ner_value'], df['total_value_sum'] = zip(*df['Top 50 Captions Named Entity Tags'].apply(process_ner_dict))

In [11]:
df.head()

,Top 50 Captions Named Entity Tags,sorted_ner,max_ner,max_ner_value,total_value_sum
0,"{'PERSON': 30, 'ORG': 30, 'DATE': 28, 'GPE': 1...","{'PERSON': 30, 'ORG': 30, 'DATE': 28, 'GPE': 1...",PERSON,30,136
1,"{'PERSON': 532, 'ORG': 396, 'GPE': 387, 'DATE'...","{'PERSON': 532, 'ORG': 396, 'GPE': 387, 'DATE'...",PERSON,532,2157
2,"{'DATE': 201, 'PERSON': 198, 'ORG': 173, 'GPE'...","{'DATE': 201, 'PERSON': 198, 'ORG': 173, 'GPE'...",DATE,201,906
3,"{'PERSON': 25, 'ORG': 20, 'GPE': 17, 'DATE': 1...","{'PERSON': 25, 'ORG': 20, 'GPE': 17, 'DATE': 1...",PERSON,25,89
4,"{'ORG': 92, 'PERSON': 85, 'DATE': 71, 'GPE': 7...","{'ORG': 92, 'PERSON': 85, 'DATE': 71, 'GPE': 7...",ORG,92,395

In [12]:
df.to_excel('new_file.xlsx', index=False)